# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [147]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [148]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [149]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [150]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [151]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [152]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [153]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [154]:
json_wb_df = pd.read_json('data/world_bank_projects.json')

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [155]:
normalized_id = json_normalize([json_wb_df],'_id')
normalized_id

                         $oid
0    52b213b38594d8a2be17c780
1    52b213b38594d8a2be17c781
2    52b213b38594d8a2be17c782
3    52b213b38594d8a2be17c783
4    52b213b38594d8a2be17c784
5    52b213b38594d8a2be17c785
6    52b213b38594d8a2be17c786
7    52b213b38594d8a2be17c787
8    52b213b38594d8a2be17c788
9    52b213b38594d8a2be17c789
10   52b213b38594d8a2be17c78a
11   52b213b38594d8a2be17c78b
12   52b213b38594d8a2be17c78c
13   52b213b38594d8a2be17c78d
14   52b213b38594d8a2be17c78e
15   52b213b38594d8a2be17c78f
16   52b213b38594d8a2be17c790
17   52b213b38594d8a2be17c791
18   52b213b38594d8a2be17c792
19   52b213b38594d8a2be17c793
20   52b213b38594d8a2be17c794
21   52b213b38594d8a2be17c795
22   52b213b38594d8a2be17c796
23   52b213b38594d8a2be17c797
24   52b213b38594d8a2be17c798
25   52b213b38594d8a2be17c799
26   52b213b38594d8a2be17c79a
27   52b213b38594d8a2be17c79b
28   52b213b38594d8a2be17c79c
29   52b213b38594d8a2be17c79d
..                        ...
470  52b213b38594d8a2be17c956
471  52b213b38594d8a2be17c957
472  52b213b38594d8a2be17c958
473  52b213b38594d8a2be17c959
474  52b213b38594d8a2be17c95a
475  52b213b38594d8a2be17c95b
476  52b213b38594d8a2be17c95c
477  52b213b38594d8a2be17c95d
478  52b213b38594d8a2be17c95e
479  52b213b38594d8a2be17c95f
480  52b213b38594d8a2be17c960
481  52b213b38594d8a2be17c961
482  52b213b38594d8a2be17c962
483  52b213b38594d8a2be17c963
484  52b213b38594d8a2be17c964
485  52b213b38594d8a2be17c965
486  52b213b38594d8a2be17c966
487  52b213b38594d8a2be17c967
488  52b213b38594d8a2be17c968
489  52b213b38594d8a2be17c969
490  52b213b38594d8a2be17c96a
491  52b213b38594d8a2be17c96b
492  52b213b38594d8a2be17c96c
493  52b213b38594d8a2be17c96d
494  52b213b38594d8a2be17c96e
495  52b213b38594d8a2be17c96f
496  52b213b38594d8a2be17c970
497  52b213b38594d8a2be17c971
498  52b213b38594d8a2be17c972
499  52b213b38594d8a2be17c973

[500 rows x 1 columns]

In [156]:
id_with_countrycode = normalized_id.join(json_wb_df['countrycode'])
id_with_countrycode

                         $oid countrycode
0    52b213b38594d8a2be17c780          ET
1    52b213b38594d8a2be17c781          TN
2    52b213b38594d8a2be17c782          TV
3    52b213b38594d8a2be17c783          RY
4    52b213b38594d8a2be17c784          LS
5    52b213b38594d8a2be17c785          KE
6    52b213b38594d8a2be17c786          IN
7    52b213b38594d8a2be17c787          CN
8    52b213b38594d8a2be17c788          IN
9    52b213b38594d8a2be17c789          MA
10   52b213b38594d8a2be17c78a          SS
11   52b213b38594d8a2be17c78b          IN
12   52b213b38594d8a2be17c78c          GH
13   52b213b38594d8a2be17c78d          TP
14   52b213b38594d8a2be17c78e          JO
15   52b213b38594d8a2be17c78f          WS
16   52b213b38594d8a2be17c790          WS
17   52b213b38594d8a2be17c791          MG
18   52b213b38594d8a2be17c792          KH
19   52b213b38594d8a2be17c793          MA
20   52b213b38594d8a2be17c794          KG
21   52b213b38594d8a2be17c795          NP
22   52b213b38594d8a2be17c796          JO
23   52b213b38594d8a2be17c797          TJ
24   52b213b38594d8a2be17c798          AZ
25   52b213b38594d8a2be17c799          4E
26   52b213b38594d8a2be17c79a          LA
27   52b213b38594d8a2be17c79b          4P
28   52b213b38594d8a2be17c79c          SB
29   52b213b38594d8a2be17c79d          MZ
..                        ...         ...
470  52b213b38594d8a2be17c956          LR
471  52b213b38594d8a2be17c957          BD
472  52b213b38594d8a2be17c958          AM
473  52b213b38594d8a2be17c959          AL
474  52b213b38594d8a2be17c95a          PK
475  52b213b38594d8a2be17c95b          ID
476  52b213b38594d8a2be17c95c          VN
477  52b213b38594d8a2be17c95d          UZ
478  52b213b38594d8a2be17c95e          PK
479  52b213b38594d8a2be17c95f          GT
480  52b213b38594d8a2be17c960          ZM
481  52b213b38594d8a2be17c961          IN
482  52b213b38594d8a2be17c962          IN
483  52b213b38594d8a2be17c963          IN
484  52b213b38594d8a2be17c964          PH
485  52b213b38594d8a2be17c965          MN
486  52b213b38594d8a2be17c966          5M
487  52b213b38594d8a2be17c967          MX
488  52b213b38594d8a2be17c968          BR
489  52b213b38594d8a2be17c969          PG
490  52b213b38594d8a2be17c96a          NP
491  52b213b38594d8a2be17c96b          GZ
492  52b213b38594d8a2be17c96c          PK
493  52b213b38594d8a2be17c96d          BD
494  52b213b38594d8a2be17c96e          NP
495  52b213b38594d8a2be17c96f          JM
496  52b213b38594d8a2be17c970          LA
497  52b213b38594d8a2be17c971          GN
498  52b213b38594d8a2be17c972          ID
499  52b213b38594d8a2be17c973          KE

[500 rows x 2 columns]

In [157]:
grouped  = id_with_countrycode.groupby('countrycode')
group_count = grouped.count()
group_count

             $oid
countrycode
1W              2
3A             11
4E              1
4P              4
5M              4
7E              1
8S              2
AF              6
AG              1
AL              4
AM              8
AO              1
AR              2
AZ              4
BA              1
BD             12
BF              9
BI              4
BJ              4
BO              2
BR              9
BT              4
BY              1
CF              1
CG              1
CI              4
CL              1
CM              2
CN             19
CO              3
...           ...
RY             13
SB              3
SC              2
SD              4
SL              2
SN              4
SS              3
ST              2
TD              1
TG              3
TH              1
TJ              8
TN              4
TO              1
TP              2
TR              4
TV              1
TZ              8
UA              4
UG              4
UY              3
UZ              5
VN             17
VU              3
WS              4
XK              2
YF              1
ZM              4
ZR              6
ZW              1

[118 rows x 1 columns]

**1. Find the 10 countries with most projects:**

In [158]:
group_count.sort_values('$oid', ascending=False).head(10)

             $oid
countrycode
ID             19
CN             19
VN             17
IN             16
RY             13
MA             12
BD             12
NP             12
3A             11
MZ             11

** 2. Find the top 10 major project themes (using column 'mjtheme_namecode')**

In [159]:
project_list = json.load((open('data/world_bank_projects.json')))
normalized_mjtheme_namecode = json_normalize(project_list,'mjtheme_namecode',['id','countryname'])
normalized_mjtheme_namecode

,code,name,id,countryname
0,8,Human development,P129828,Federal Democratic Republic of Ethiopia
1,11,,P129828,Federal Democratic Republic of Ethiopia
2,1,Economic management,P144674,Republic of Tunisia
3,6,Social protection and risk management,P144674,Republic of Tunisia
4,5,Trade and integration,P145310,Tuvalu
5,2,Public sector governance,P145310,Tuvalu
6,11,Environment and natural resources management,P145310,Tuvalu
7,6,Social protection and risk management,P145310,Tuvalu
8,7,Social dev/gender/inclusion,P144665,Republic of Yemen
9,7,Social dev/gender/inclusion,P144665,Republic of Yemen
10,5,Trade and integration,P144933,Kingdom of Lesotho
11,4,Financial and private sector development,P144933,Kingdom of Lesotho
12,6,Social protection and risk management,P146161,Republic of Kenya
13,6,,P146161,Republic of Kenya
14,2,Public sector governance,P121185,Republic of India
15,4,Financial and private sector development,P121185,Republic of India
16,11,Environment and natural resources management,P127033,People's Republic of China
17,8,,P127033,People's Republic of China
18,10,Rural development,P130164,Republic of India
19,7,,P130164,Republic of India
20,2,Public sector governance,P130903,Kingdom of Morocco
21,2,Public sector governance,P130903,Kingdom of Morocco
22,2,Public sector governance,P130903,Kingdom of Morocco
23,10,Rural development,P145339,Republic of South Sudan
24,2,,P145339,Republic of South Sudan
25,10,Rural development,P146653,Republic of India
26,6,Social protection and risk management,P146653,Republic of India
27,6,Social protection and risk management,P146653,Republic of India
28,11,Environment and natural resources management,P146653,Republic of India
29,4,,P144140,Republic of Ghana
...,...,...,...,...
1469,8,Human development,P126465,Federative Republic of Brazil
1470,9,Urban development,P128763,The Independent State of Papua New Guine
1471,6,Social protection and risk management,P128763,The Independent State of Papua New Guine
1472,6,Social protection and risk management,P128763,The Independent State of Papua New Guine
1473,9,Urban development,P128763,The Independent State of Papua New Guine
1474,2,Public sector governance,P131860,Nepal
1475,2,Public sector governance,P131860,Nepal
1476,10,Rural development,P123322,West Bank and Gaza
1477,11,,P123322,West Bank and Gaza
1478,8,Human development,P128096,Islamic Republic of Pakistan
1479,7,Social dev/gender/inclusion,P128096,Islamic Republic of Pakistan
1480,11,Environment and natural resources management,P132138,People's Republic of Bangladesh
1481,5,,P132138,People's Republic of Bangladesh
1482,6,Social protection and risk management,P129177,Nepal
1483,8,,P129177,Nepal
1484,4,Financial and private sector development,P127299,Jamaica
1485,7,Social dev/gender/inclusion,P127299,Jamaica
1486,8,Human development,P125298,Lao People's Democratic Republic
1487,5,Trade and integration,P125298,Lao People's Democratic Republic
1488,2,Public sector governance,P125298,Lao People's Democratic Republic
1489,8,Human development,P125298,Lao People's Democratic Republic
1490,10,Rural development,P128309,Republic of Guinea
1491,6,,P128309,Republic of Guinea
1492,10,Rural development,P117243,Republic of Indonesia
1493,10,Rural development,P117243,Republic of Indonesia
1494,10,Rural development,P117243,Republic of Indonesia
1495,9,Urban development,P126321,Republic of Kenya
1496,8,Human development,P126321,Republic of Kenya
1497,5,Trade and integration,P126321,Republic of Kenya
1498,4,Financial and private sector development,P126321,Republic of Kenya

In [160]:
grouped_theme_ids = normalized_mjtheme_namecode.groupby('code')
grouped_theme_ids.count()

      name   id  countryname
code
1       38   38           38
10     216  216          216
11     250  250          250
2      199  199          199
3       15   15           15
4      146  146          146
5       77   77           77
6      168  168          168
7      130  130          130
8      210  210          210
9       50   50           50

In [161]:
grouped_theme_ids['code'].count().sort_values(ascending=False).head(10)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

**3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.**

In [162]:
normalized_mjtheme_namecode.head()

,code,name,id,countryname
0,8,Human development,P129828,Federal Democratic Republic of Ethiopia
1,11,,P129828,Federal Democratic Republic of Ethiopia
2,1,Economic management,P144674,Republic of Tunisia
3,6,Social protection and risk management,P144674,Republic of Tunisia
4,5,Trade and integration,P145310,Tuvalu

In [163]:
normalized_mjtheme_namecode['name'] = normalized_mjtheme_namecode['name'].replace("", np.nan)
normalized_mjtheme_namecode.head()

,code,name,id,countryname
0,8,Human development,P129828,Federal Democratic Republic of Ethiopia
1,11,NaN,P129828,Federal Democratic Republic of Ethiopia
2,1,Economic management,P144674,Republic of Tunisia
3,6,Social protection and risk management,P144674,Republic of Tunisia
4,5,Trade and integration,P145310,Tuvalu

In [166]:
sorted_deparments = normalized_mjtheme_namecode.sort_values(['code', 'name'])
sorted_deparments.tail()

,code,name,id,countryname
1473,9,Urban development,P128763,The Independent State of Papua New Guine
1495,9,Urban development,P126321,Republic of Kenya
333,9,NaN,P132154,People's Republic of China
460,9,NaN,P117394,Socialist Republic of Vietnam
471,9,NaN,P126817,People's Republic of China

In [168]:
sorted_deparments.fillna(method='ffill', inplace=True)
sorted_deparments.tail()

,code,name,id,countryname
1473,9,Urban development,P128763,The Independent State of Papua New Guine
1495,9,Urban development,P126321,Republic of Kenya
333,9,Urban development,P132154,People's Republic of China
460,9,Urban development,P117394,Socialist Republic of Vietnam
471,9,Urban development,P126817,People's Republic of China

In [169]:
grouped_theme_ids = sorted_deparments.groupby('name')
grouped_theme_ids['name'].count().sort_values(ascending=False).head(10)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64